
/*
.🤔-container {
  display: inline-block;
  position: absolute;
  transform-origin: center;
  pointer-events: none;
}
*/


.🤔::before,
.🤔::after {
  display: inline-block;
  font-size: 4em;
}

.🤔::before {
  height: 5em;
  width: 5em;
}
